<%= form_with scope: :note, url: notes_path, local: true do |form| %>

  <article class="big">
    <header>
      <%= form.text_field :title, placeholder: "Title" %>
    </header>
    <p>
      <%= form.text_area :text, placeholder: "Text" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  </article>
<% end %>
